<!-- user admin page With the search form by date booking/service_booked.hbs -->


{{> dashboard }}
<main class="col bg-faded py-5">
   <h2 class="dashboard-title">Booking History</h2>
   <div class="card">
   <div class="card-body">
      <form method="post" action="/search" class="card card-sm" autocomplete="on">
         <div class="card-body row no-gutters align-items-center">
            <!--end of col-->
            <div class="col">
               <!--				 <input class="form-control form-control-sm" name="search" type="text" placeholder="customer name"> -->
               <input data-date-format="dd/mm/yyyy" class="form-control form-control-sm" id="datepicker" name="search" class="form-control">
            </div>
            <!--end of col-->
            <div class="col-auto">
               <button class="btn btn-outline-secondary btn-sm search-bottom " type="submit">Search</button>
            </div>
            <!--end of col-->
         </div>
      </form>
      <div class="row">
         <div class="col-md-12">
            <div class="table-responsive">
               <table  class="table table-hover table-sm admin-booking">
                  <thead>
                     <tr>
                        <th>Id</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Service</th>
                        <th>Customer Name</th>
                        <th>When</th>
                     </tr>
                  </thead>
                  {{#each booked }}
                  <tbody>
                     <tr>
                        <td>{{id}} </td>
                        <td>{{this.selected_day}}</td>
                        <td>{{this.selected_times}}</td>
                        <td>{{this.service_title}}</td>
                        <td>{{this.customer_name}}</td>
                        <td>{{timeago created_at}}</td>
                     </tr>
                     {{/each}}
                  </tbody>
               </table>
            </div>
         </div>
</main>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
   var date = new Date();
   date.setDate(date.getDate());
       $('#datepicker').datepicker({


         daysOfWeekDisabled: [0]

       });
       $('#datepicker').datepicker("setDate", new Date());

</script>
