{{> dashboard }}
<main class="col bg-faded bg-fadeda   py-5  ">
   <h2 class="dashboard-title">Customer List</h2>
   <div class="card">
      <div class="card-body   ">
         <div class="table-responsive">
            <table  class="table table-hover table-sm admin-booking  " >
               <thead >
                  <tr class="text-left" >
                     <th scope="col">Id</th>
                     <th scope="col">Email</th>
                     <th scope="col">Name</th>
                     <th scope="col">Address</th>
                     <th scope="col">City</th>
                     <th scope="col">Mobile</th>
                     <th scope="col">Age</th>
                     <th scope="col">Since</th>
                     <th scope="col">Action</th>
                  </tr>
               </thead>
               {{#each customer}}
               <tbody>
                  <tr class="text-left">
                     <td>{{this.id}} </td>
                     <td>{{email}} </td>
                     <td>{{fullname}}</td>
                     <td>{{address}}</td>
                     <td>{{city}}</td>
                     <td>{{mobile}}</td>
                     <td>{{age}}</td>
                     <td>{{user_since}}</td>
                     <td>
                        <a href="/delete-customer/{{id}}"  class="btn btn-outline-danger btn-sm"  onclick="return confirm('Are You Sure You Want to Delete this Customer?')">Delete</a>
                     </td>
                  </tr>
                  {{/each}}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</main>
</div>
</div>
