<div class="container p-4">

<a href="/services/add"><i class="fa fa-cut" style="font-size:34px;"></i>___Add a new service</a><br>

<a href="staff/"><i class="fa fa-cut" style="font-size:34px;"></i>___Add a new staff</a><br>

<a href="/change-password"><i class="fa fa-cut" style="font-size:34px;"></i>___Change Password</a><br>

<a href="delete-profile/{{user.id}}" onclick="return confirm('Are You Sure?')"><i class="fa fa-cut" style="font-size:34px;" ></i>___Delete Profile</a>
<br>
<a href="book-confirmed"><i class="fa fa-cut" style="font-size:34px;" ></i>___My bookings</a>


<h4 class="p-5">My Details</h4>

  <p>User Id: <span class="text-success">  {{user.id}} </span></p>
  <p>Full name: {{user.fullname}}</p>
  <p>Username: {{user.email}}</p>

<br>
    <a href="/edit-customer/{{user.id}}"><i class="fa fa-cut" style="font-size:34px;" ></i>___Edit my profile</a></a>








  <div class="row">

    <div class="col-md-4 mx-auto">
        <div class="card text-center">

          <div class="card-body">
            <h3>Welcome {{user.fullname }}</h3>
              <h4> {{user.email }}</h4>
              <a href="/services" class="btn btn-primary m-4">

                  Save your services

              </a>

          </div>

        </div>
    </div>

  </div>

</div>
